/* Estilos para dispositivos Desktop */
@media (min-width: 1000px) {
    article {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 0px;
    }
  
    img {
      width: 100%;
      border-top-left-radius: .5em;
      border-bottom-left-radius: .5em;
    }
  
    .product-info {
      background-color: white;
      padding: 1em;
      border-top-right-radius: .5em;
      border-bottom-right-radius: .5em;
    }
  
    body {
      background-color: rgb(245, 214, 214);
    }
  
    * {
      text-align: center;
    }
  
    input {
      background-color: green;
      border-radius: .5em;
    }
  }
  
  /* Estilos para dispositivos Móveis */
  @media (max-width: 999px) {
    article {
      display: block;
      background-color: white;
      padding-left: 0;
      padding-top: 0;
      border-bottom-left-radius: .5em;
      border-bottom-right-radius: .5em;
      border-top-left-radius: .5em;
      border-top-right-radius: .5em;
    }
  
    img {
      width: 100%;
      border-top-left-radius: .5em;
      border-top-right-radius: .5em;
      
    }
  
    /*.product-info {
      background-color: white;
      padding: 1em;
      border-bottom-left-radius: .5em;
      border-bottom-right-radius: .5em;
    }*/
  
    body {
      background-color: rgb(245, 214, 214);
    }
  
    * {
      text-align: center;
    }
  
    input {
      background-color: green;
      border-radius: .5em;
    }
  }
  