article
{
    background-color: white;
    min-width: 16em;
    max-width: 50em;
    height: auto;
    margin: auto;
    padding-left: 0em;
    padding-right: 0em;
    padding-bottom: 1em;
    border-radius: 1em;
}
img
{
    width: 100%;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}
body
{
    background-color: rgb(245, 214, 214);
}
*
{
   text-align: center;
}
input
{
    background-color: green;
    border-radius: .5em;

}
